* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



h1 {
  font-size: 1.5em;
}
h3 {
  font-size: 0.75em
}
.container {
  height: 70vh;
  width: 100vw;
    padding: 15% 1%;
  background-image: url('https://cache.desktopnexus.com/cropped-wallpapers/2188/2188719-1920x1080-[DesktopNexus.com].jpg?st=qTVm-jFk24DtoZ_Q1fQ24A&e=1559034788');
      max-width: 100%;

}
.search-box {
  background-color: rgba(0, 0, 0, 0.74);
  width: 50%;
  border-radius: 5px;
  margin: auto;
  padding: 83px 69px;

}
.navbar {
  padding: 20px 100px;
}
#searchBox {
  width: 70%;
height: 35px;
border-radius: 3px;
font-size: 1.5em;
padding: 9px;
color: dimgray;
}
#searchBoxBtn {
  width: 25%;
  font-size: 1.5em;
  height: 35px;
  cursor: pointer;
}
.display-result {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.movie-card {
   padding: 5px;
   width: 20%
}
.moviePoster {
  width: 100%;
}
.flagIcon {
  width: 20px;
}
